<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/news-icon.ico" />
    <title>Dashboard - Newcontac</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="https://kit.fontawesome.com/aca4f49d6f.js" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()
</body>
</html>