<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aca4f49d6f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/CSS/AlexandrosStyles.css">
    <title>AlexandrosView</title>
</head>
<body>
    <section id="services-menu">
        <!--Menu de servicios-->
        <article class="service" id="cybersecurity">
            <div class="service-title"><h2 class="blinking_cursor"><span id="terminal">$</span> <span id="command">apt -y install</span> Author: ⛧ Alexandros Estrella de la Mañana ⛧</h2></div>
            <div class="service-tools">.NET Web Developer & Cybersecurity Engineer.</div>
            <div class="service-icon"><a href="https://github.com/alexandro-morningstar" target="_blank"><i class="fa-solid fa-microchip" style="color: #ffffff;"></i></a></div>
        </article>
        <article class="service" id="web-dev">
            <div class="service-title"><h2 class="blinking_cursor"><span class="definition">let </span><span class="function">alexandro</span><span class="dot">=</span><span class="yellow-parenthesis">(</span><span class="variable">coffee</span><span class="yellow-parenthesis">)</span><span class="definition">=></span><span class="yellow-parenthesis">{</span><span class="variable">console</span><span class="dot">.</span><span class="function">log</span><span class="pink-parenthesis">(</span><span class="plain-text">`Aplicación Web para generar RFC`</span><span class="pink-parenthesis">)</span><span class="yellow-parenthesis">}</span><span class="dot">;</span></h2></div>
            <div class="service-tools">ASP.NET C#, HTML, CSS, Bootstrap, SQL.</div>
            <div class="service-icon"><a href="https://github.com/alexandro-morningstar/CreadorRFC" target="_blank"><i class="fa-solid fa-code-merge" style="color: #ffffff;"></i></a></div>
        </article>
        <article class="service" id="network-administrator">
            <div class="service-title"><h2 class="blinking_cursor"><cite>Router(config)#</cite> <a href="/Main/Index">Regresar a la aplicación</a></h2></div>
            <div class="service-icon"><a href="https://alexandro-morningstar.github.io/" target="_blank"><i class="fa-solid fa-server" style="color: #ffffff;"></i></a></div>
        </article>
    </section> <!--Fin del menu de servicios-->
</body>
</html>
